
<div class="project-post photos branding">
	<div class="project-gal">
		<img src="upload/portfolio/2.jpg" alt="">
		<div class="hover-box">
			<a href="upload/portfolio/2.jpg" class="zoom"><i class="fa fa-search"></i></a>
		</div>
	</div>
	<div class="project-content">
		<h2><a href="single-project.html">Nunc dignissim risus</a></h2>
		<span>Photos / Art / Branding</span>
	</div>
	</div>
</div>
<div class="project-post interior">
	<div class="project-gal">
		<img src="upload/portfolio/3.jpg" alt="">
		<div class="hover-box">
			<a href="upload/portfolio/3.jpg" class="zoom"><i class="fa fa-search"></i></a>
		</div>
	</div>
	<div class="project-content">
		<h2><a href="single-project.html">Cras ornare tristique</a></h2>
		<span>Art / Interior</span>
	</div>
</div>
<div class="project-post photos">
	<div class="project-gal">
		<img src="upload/portfolio/4.jpg" alt="">
		<div class="hover-box">
			<a href="upload/portfolio/4.jpg" class="zoom"><i class="fa fa-search"></i></a>
		</div>
	</div>
	<div class="project-content">
		<h2><a href="single-project.html">Vivamus vestibulum nulla</a></h2>
		<span>Photos / Art</span>
	</div>
</div>
<div class="project-post web">
	<div class="project-gal">
		<img src="upload/portfolio/6.jpg" alt="">
		<div class="hover-box">
			<a href="upload/portfolio/6.jpg" class="zoom"><i class="fa fa-search"></i></a>
		</div>
	</div>
	<div class="project-content">
		<h2><a href="single-project.html">Fusce pellentesque</a></h2>
		<span>Art / Web</span>
	</div>
</div>
<div class="project-post interior branding">
	<div class="project-gal">
		<img src="upload/portfolio/7.jpg" alt="">
		<div class="hover-box">
			<a href="upload/portfolio/7.jpg" class="zoom"><i class="fa fa-search"></i></a>
		</div>
	</div>
	<div class="project-content">
		<h2><a href="single-project.html">Integer vitae libero</a></h2>
		<span>Interior / Branding</span>
	</div>
</div>
<div class="project-post web">
	<div class="project-gal">
		<img src="upload/portfolio/8.jpg" alt="">
		<div class="hover-box">
			<a href="upload/portfolio/8.jpg" class="zoom"><i class="fa fa-search"></i></a>
		</div>
	</div>
	<div class="project-content">
		<h2><a href="single-project.html">Vestibulum commodo</a></h2>
		<span>Web / Art</span>
	</div>
</div>