
/*------------------------------------------------- */
/* =  Services sections
 *------------------------------------------------- */

section.services-section {
    padding-top: 70px;
    .services-box {
    	overflow: hidden;
    	border-top: 1px solid #eeeeee;
    	.services-post {
    		float: left;
    		width: 25%;
    		border-right: 1px solid #eeeeee;
    		text-align: center;
    		padding: 80px 50px 70px;
    		a {
    			margin-bottom: 20px;
    		}
    		a span, a i {
    			font-size: 30px;
    			color: $primary-color;
    		}
    	}
    	.services-post:last-child {
    		border-right: none;
    	}
    }
    .services-box2 {
    	overflow: hidden;
    	.half-box-side {
    		float: left;
    		width: 50%;
    		background: url('../upload/banners/ban.jpg');
    		padding: 150px 20px 150px;
    		@extend .back-cover;
    		.inner-box {
    			padding: 140px 10px;
    			max-width: 480px;
    			margin: 0 auto;
    			border: 2px solid #fff;
    			text-align: center;
    			h1 {
    				color: #fff;
    			}
    		}
    	}
    	.services-box-side {
    		float: right;
    		width: 50%;
    		overflow: hidden;
    		background: #f9f9f9;
    		.services-post {
    			width: 50%;
    			float: left;
    			padding: 140px 100px 40px;
    			min-height: 396px;
    			border-right: 1px solid #eeeeee;
    			border-top: 1px solid #eeeeee;
                position: relative;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    @include transition(0.2s);
                    @extend .back-cover;
                }
                h3, p {
                    position: relative;
                    z-index: 2;
                }
                h3 {
                    @include transition(0.2s);
                }
    		}
            .services-post:hover {
                img {
                    opacity: 1;
                }
                h3 {
                    color: #fff;
                }
                p {
                    color: #ccc;
                }
            }
    	}
    }
}

section.services-section2 {
    padding-top: 90px;
    .services-box {
        .services-post {
            text-align: center;
            margin-bottom: 60px;
            a {
                margin-bottom: 20px;
            }
            a span, a i {
                font-size: 30px;
                color: $primary-color;
            }
        }
    }
    .image-holder {
        text-align: center;
        padding-top: 40px;
        img {
            max-width: 100%;
            height: auto;
            margin-bottom: -20px;
        }
    }
}

section.services-section3 {
    padding: 90px 0;
    background: url('../upload/banners/banner.jpg') fixed;
    @extend .back-cover;
    .title-section h2 {
        color: #ffffff;
    }
    .services-box {
        .services-post {
            margin-bottom: 30px;
            h1 {
                color: $third-color;
                margin-bottom: 20px;
            }
            h3 {
                color: #ffffff;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}


