
/*------------------------------------------------- */
/* =  Statistic sections*/
/*------------------------------------------------- */

section.statistic-section {
    padding: 120px 0 110px;
    background: #f9f9f9;
    .statistic-post {
        margin-bottom: 20px;
        h2 {
            color: $fourth-color;
            font-size: 14px;
            font-family: $font-alternative;
            margin-bottom: 0;
            font-weight: 400;
        }
        p {
            margin: 0 0 20px;
            padding-bottom: 10px;
            position: relative;
            line-height: inherit;
        }
        p:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 30px;
            height: 2px;
            background: $primary-color;
        }
        span.timer {
            color: $second-color;
            font-size: 48px;
            font-family: $font-default;
            font-weight: 700;
            margin: 0;
        }
    }
}