<!doctype html>


<html lang="en" class="no-js">
<head>
    <title>Coill</title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="static/css/apps.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>

<!-- Container -->
<div id="container">
    <!-- Header
        ================================================== -->
    <header class="clearfix trans">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right navigate-section">
                            <li><a href="home">Home</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a class="active" href="about">About</a></li>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                            <li class="settings"><a href="#"><i class="fas fa-cog"></i></a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <!-- End Header -->

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section about">
        <div class="container">
            <h1>About us</h1>
        </div>
    </section>
    <!-- End page-banner section -->

    <!-- about-us-section
        ================================================== -->
    <section class="about-us-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-content">
                        <h1>We are digital <br> blog</h1>
                        <h3> On this site you can read or write posts on any topic </h3>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="about-images">
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="static/upload/others/ab1.jpg" alt="">
                            </div>
                            <div class="col-xs-6">
                                <img src="static/upload/others/ab2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about-us section -->

    <!-- about-us-section2
        ================================================== -->
    <section class="about-us-section2">
        <div class="about-box">
            <div class="about-post">
                <h3>Our Philosophy</h3>
                <p> Knowledge is power</p>
            </div>
            <div class="about-post">
                <h3>Our Mission</h3>
                <p> Knowledge to people</p>
            </div>
            <div class="about-post">
                <h3>Our Values</h3>
                <p> Our visitors </p>
            </div>
            <div class="about-post">
                <h3>Our History</h3>
                <p> In progress</p>
            </div>
        </div>
    </section>
    <!-- End about-us section2 -->

    <!-- Testimonial-section
        ================================================== -->

    <!-- End Testimonial section -->

    <!-- team-section
        ================================================== -->


    <!-- footer
        ================================================== -->
    <footer>
        <div class="up-footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="footer-widget text-widget">
                            <h2>we are <span>blog</span></h2>
                            <span>hello@Coill.com</span>
                            <span>+(123) 456 7890</span>
                        </div>

                    </div>


                    <div class="col-md-3 col-sm-6">
                        <div class="footer-widget newsletter-widget">
                            <h2>Newsletter</h2>
                            <p> Write a letter </p>
                            <form class="newletter-form">
                                <input type="text" name="your-email" id="your-email" placeholder="email" />
                                <input type="submit" id="submit_it" value="go" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

</div>
<!-- End Container -->

</body>
</html>