
/*------------------------------------------------- */
/* =  Contact */
/*------------------------------------------------- */

#map {
	width: 100%;
	height: 640px;
}

section.contact-section {
	padding: 90px 0 60px;
	h1 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 25px;
	}
    #contact-form {
		margin: 0;
		input[type="text"],
		textarea {
			display: block;
			width: 100%;
			padding: 10px 20px;
			background: #f7f7f7;
			color: $third-color;
			font-size: 12px;
			font-family: $font-default;
			outline: none;
			border: 1px solid transparent;
			margin: 0 0 30px;
			@include transition(0.2s);
		}
		input[type="text"]:focus,
		textarea:focus {
			border: 1px solid $primary-color;
		}
		textarea {
			height: 130px;
		}
		input[type="submit"] {
			color: $second-color;
			font-size: 13px;
			font-family: $font-default;
			font-weight: 500;
			padding: 13px 20px 10px;
			text-transform: uppercase;
			border: 2px solid $second-color;
			background: transparent;
			outline: none;
			@include border-radius(25px);
			@include transition(0.2s);
			margin-bottom: 10px;
		}
		input[type="submit"]:hover {
			background: $second-color;
			color: #ffffff;
		}
	}
	div.info-box {
		padding-left: 30px;
		p {
			line-height: 30px;
			span, i {
				font-size: 14px;
				margin-right: 8px;
			}
		}
	}
}