
/*------------------------------------------------- */
/* =  News section */
/*------------------------------------------------- */

section.news-section {
	padding: 90px 0;
	background: #f9f9f9;
	.news-box {
		.news-post {
			text-align: center;
			margin: 0;
			padding: 50px 30px;
			@include transition(0.2s);
			background: transparent;
			span.date, > a {
				display: inline-block;
				color: $fourth-color;
				font-size: 13px;
				font-family: $font-default;
				margin-bottom: 15px;
			}
			> a {
				margin-bottom: 0;
			}
			> a:hover {
				color: $primary-color;
			}
			h2, p {
				margin-bottom: 15px;
			}
			h2 a {
				color: $second-color;
			}
			h2 a:hover {
				color: $primary-color;
			}
		}
		.news-post:hover {
			background: #ffffff;
			@include box-shadow(0 0 4px #f4f4f4);
		}
		.owl-theme .owl-controls {
			margin-top: 40px;
		}
		.owl-theme .owl-controls .owl-buttons {
			display: none;
		}
	}
	.center-button {
		padding: 40px 0;
		background: #f9f9f9;
	}
}

section.blog-section {
	padding: 100px 0;
	.blog-box {
		.blog-post {
			padding-bottom: 50px;
			margin-bottom: 50px;
			border-bottom: 1px solid #eeeeee;
			img, iframe {
				width: 100%;
				height: auto;
				margin-bottom: 25px;
			}
			.flexslider {
				margin-bottom: 25px;
				img {
					margin-bottom: 0;
				}
			}
			iframe {
				height: 340px;
				border: none;
			}
			span.category {
				display: inline-block;
				@extend .paragraph;
				margin-bottom: 15px;
			}
			h2 {
				margin-bottom: 15px;
				a {
					color: $second-color;
				}
				a:hover {
					color: $primary-color;
				}
			}
			ul.post-meta {
				@extend .reset-elem;
				margin-bottom: 15px;
				li {
					display: inline-block;
					@extend .paragraph;
					margin-bottom: 0;
					margin-right: 25px;
					a {
						color: $third-color;
					}
					a:hover {
						color: $primary-color;
					}
				}
			}
			p {
				color: $fourth-color;
				margin-bottom: 20px;
			}
		}
	}
}

.pagination-box {
	margin-bottom: 20px;
	overflow: hidden;
	a.prev,
	a.next {
	    @extend .paragraph;
	    margin-bottom: 0;
	    margin-top: -30px;
	}
	a.prev:hover,
	a.next:hover {
	    color: $primary-color;
	}
	a.prev {
	    float: left;
	}
	a.next {
	    float: right;
	}
	ul.page-list {
		@extend .reset-elem;
		text-align: center;
		li {
			display: inline-block;
			a {
				width: 30px;
				height: 30px;
				@include border-radius(50%);
				border: 2px solid transparent;
				text-align: center;
				color: $fourth-color;
				font-size: 13px;
				font-family: $font-alternative;
				line-height: 28px;
			}
			a:hover,
			a.active {
				color: $second-color;
				border: 2px solid $second-color;
			}
		}
	}
}


