
/*-------------------------------------------------*/
/* =  Responsive Part
/*-------------------------------------------------*/

@media (max-width: 1460px) {
	section.services-section .services-box .services-post {
		padding: 60px 30px;
	}
	section.services-section .services-box2 .services-box-side .services-post {
		padding: 100px 60px 20px;
		min-height: 310px;
	}
	section.services-section .services-box2 .half-box-side {
		padding: 100px 20px;
	}
	section.services-section .services-box2 .half-box-side .inner-box {
		padding: 103px 10px;
	}
	section.team-section .team-box .half-box-side {
	    padding: 100px 20px;
	}
	section.team-section .team-box .half-box-side .inner-box {
	    padding: 87px 10px;
	}
	section.about-us-section2 .about-box .about-post {
		padding: 60px;
	}
	#map {
		height: 500px;
	}
}

@media (max-width: 1199px) {
	#home-section {
		min-height: 500px;
	}
	h2 {
		font-size: 20px;
	}
	h1 {
		font-size: 40px;
	}
	section.services-section .services-box .services-post {
		width: 50%;
		border-bottom: 1px solid #eeeeee;
	}
	section.services-section .services-box2 .half-box-side,
	section.services-section .services-box2 .services-box-side,
	section.team-section .team-box .half-box-side,
	section.team-section .team-box .team-box-side {
		width: 100%;
		float: none;
	}
	section.services-section .services-box2 .services-box-side .services-post img {
		width: 100%;
		height: auto;
	}
	section.team-section {
		background: #222222;
	}
	section.portfolio-section .portfolio-box .project-post,
	section.portfolio-page-section .portfolio-box .project-post {
		width: 33.333333%;
	}
	section.features-section .features-box .feature-post img {
		display: none;
	}
	section.features-section .features-box .feature-post.offset-top-1 {
	    margin-top: 160px;
	    padding-right: 0px;
	}
	section.features-section .features-box .feature-post.offset-top-2 {
    	margin-top: 270px;
	    padding-left: 0px;
	}
	section.page-banner-section h1 {
		font-size: 60px;
	}
	section.about-us-section2 .about-box .about-post {
		width: 50%;
		border-bottom: 1px solid #eeeeee;
	}
	section.team-section.second-style .team-box .team-box-side .team-post {
		width: 50%;
	}
	#map {
		height: 400px;
	}
	.sidebar {
		padding-left: 0;
	}
}

@media (max-width: 991px) {
    .navbar-nav > li > a {
        margin: 0 13px;
    }
	#home-section {
		min-height: auto;
	}
	section.portfolio-section .portfolio-box .project-post,
	section.portfolio-page-section .portfolio-box .project-post {
		width: 50%;
	}
	section.features-section .features-box .feature-post.offset-top-1 {
	    margin-top: 0;
	    margin-bottom: 40px;
	    text-align: center
	}
	section.features-section .features-box .feature-post.offset-top-2 {
    	margin-top: 0;
    	text-align: center
	}
	section.features-section .features-box .feature-image {
		text-align: center;
		margin-bottom: 40px;
	}
	section.statistic-section .statistic-post {
		text-align: center;
	}
	section.statistic-section .statistic-post p:after {
		left: 50%;
		margin-left: -15px;
	}
	section.clients-section .clients-box ul.client-list li {
		width: 33.33333%;
	}
	section.page-banner-section h1 {
		font-size: 50px;
	}
	#map {
		height: 300px;
	}
	section.blog-section .blog-box .blog-post .flexslider {
		margin-bottom: 25px !important;
	}
	.sidebar {
		padding-left: 0;
		padding-top: 60px;
	}
	.comment-area-box ul.depth {
		padding: 0;
	}
	.comment-area-box ul.depth .comment-box {
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 30px;
		letter-spacing: -1px;
		line-height: 36px;
	}
	.navbar-toggle {
        margin-top: 30px;
        margin-right: 40px;
    }
    .navbar {
    	background: $second-color;
    	border: none;
    }
    .navbar-nav > li > a {
        padding: 5px 15px;
    }
    .navbar-nav > li > a:after {
        display: none !important;
    }
    .navbar-nav > li > a.open-menu {
        display: none;
    }
    .navbar-nav li.drop ul.dropdown {
        position: relative;
        top: inherit;
        left: inherit;
        width: 100%;
        border-top: none;
        opacity: 1;
        visibility: visible;
        background: transparent;
        padding-left: 20px;
        li a {
        	color: #fff;
        }
        li a:hover {
        	color: $primary-color;
        }
    }
	section.services-section .services-box .services-post {
		width: 100%;
	}
	section.services-section .services-box2 .services-box-side .services-post {
		padding: 50px 30px 20px;
		min-height: 240px;
	}
	section.portfolio-section .portfolio-box .project-post,
	section.portfolio-page-section .portfolio-box .project-post {
		width: 100%;
	}
	ul.filter li a {
		padding: 0 0 6px;
	}
	ul.filter li {
		padding-left: 5px;
	}
	ul.filter li:after {
		margin-left: 5px;
	}
	section.team-section .team-box .team-box-side .team-post {
		width: 100%;
	}
	section.page-banner-section h1 {
		font-size: 40px;
	}
	section.about-us-section2 .about-box .about-post {
		width: 100%;
		padding: 40px;
	}
	.bx-wrapper .bx-controls-direction {
		display: none;
	}
	section.team-section.second-style .team-box .team-box-side .team-post {
		width: 100%;
	}
	#map {
		height: 200px;
	}
}

@media (max-width: 500px) {

	section.services-section .services-box2 .services-box-side .services-post {
		padding: 40px 40px;
		width: 100%;
		min-height: auto;
	}
	section.clients-section .clients-box ul.client-list li {
		width: 50%;
	}
	section.page-banner-section h1 {
		font-size: 30px;
	}
}